<div class="wrapper">
    <div class="main-header"><img src="./src/images/logo.png"></div>
    <div class="container">
        <div class="header">
            <div class="header-title">Выберите друзей</div><img class="header-close" src="./src/images/close.png" id="js-close">
        </div>
        <div class="main" id="js-lists">
            <div class="main-col">
                <div class="input">
                    <input class="input-filter" type="text" placeholder="Начните вводить имя друга" id="js-filter-all">
                </div>
                <div class="title">Ваши друзья	</div>
                <div class="list">
                    <ul class="ullist" id="js-list-all"></ul>
                </div>
            </div>
            <div class="main-col">
                <div class="input">
                    <input class="input-filter" type="text" placeholder="Начните вводить имя друга" id="js-filter-selected">
                </div>
                <div class="title">Друзья в списке</div>
                <div class="list">
                    <ul class="ullist" id="js-list-selected"></ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <button class="btn-close" id="js-save">Сохранить</button>
        </div>
    </div>
    <div class="main-footer"></div>
</div>